# EditorConfig è utile per mantenere uno stile di codifica coerente tra editor e IDE diversi.
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

