# Laravel
/vendor/
/node_modules/
/public/storage
/storage/*.key
.env
.phpunit.result.cache

# Ignora log, debug output e cache
*.log
*.cache
*.env
*.phpunit.result.cache
/coverage/

# Ignora i file generati dalle IDE
.idea/
/*.sublime-project
/*.sublime-workspace

# Ignora il file di configurazione di Composer
composer.lock

# Ignora i file di configurazione per Docker (se personalizzati)
/docker-compose.override.yml
